/* Оформление главной страницы */
main {
    height: calc(100vh - 52px);
    margin-left: 200px;
    padding: 20px;
    overflow-y: auto;
}
.hidden-menu {
    display: flex;
    margin-bottom: 50px;
}
.button-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}
.button-menu img {
    height: 20px;
}
main h3 {
    text-transform: capitalize;
}
.cards-info, .cards-statistic, .cards-task {
    display: grid;
    gap: 15px;
}
.cards-info {
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 50px;
}
.info {
    position: relative;
    /* min-width: 178.5px; */
    background-color: white;
    padding: 15px 15px;
    box-shadow: 3px 3px 10px grey;
}
.info p {
    margin: 0;
}
.info p:nth-of-type(1) {
    text-transform: capitalize;
    text-align: right;
    color: dimgrey;
    font-size: 13px;
}
.info p:nth-of-type(2) {
    text-transform: uppercase;
    text-align: right;
    color: dimgrey;
    font-size: 22px;
    margin-bottom: 10px;
}
hr {
    margin-bottom: 10px;
}
.info p:nth-of-type(3) {
    display: flex;
    align-items: center;
    color: grey;
    font-size: 12px;
}
.info p:nth-of-type(3) img {
    width: 13px;
    margin-right: 3px;
}
.table-image {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 15px;
    top: -15px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position: 50% 50%;
    box-shadow: 2px 2px 3px grey;
}
.image-data {
    background-color: green;
    background-image: url(pic/data_white.svg);
}
.image-shop {
    background-color: orange;
    background-image: url(pic/shop_white.svg);
}
.image-tag {
    background-color: steelblue;
    background-image: url(pic/tag_white.svg);
}
.image-paperplane {
    background-color: deeppink;
    background-image: url(pic/paperplane_white.svg);
}

/* Карточка дневные продажи, email-подписки, законченные задачи */
.cards-statistic {
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 50px;
}
.statistic {
    position: relative;
    /* min-width: 240px; */
    background-color: white;
    padding: 150px 15px 15px;
    box-shadow: 3px 3px 10px grey;
}
.table-graph {
    position: absolute;
    width: calc(100% - 30px);
    height: 150px;
    left: 15px;
    top: -15px;
    border-radius: 5px;
    background-image: url(pic/graphics.svg);
    background-repeat: no-repeat;
    background-size: 90% 70%;
    background-position: 50% 50%;
    box-shadow: 2px 2px 3px grey;
}
.image-sales {
    background-color: green;
}
.image-subscribe {
    background-color: orange;
}
.image-task-final {
    background-color: steelblue;
}
.statistic p:nth-of-type(1) {
    text-transform: capitalize;
    color: dimgrey;
    font-size: 18px;
}
.statistic p:nth-of-type(2) {
    text-transform: capitalize;
    color: dimgrey;
    font-size: 14px;
    margin-bottom: 10px;
}
hr {
    margin-bottom: 10px;
}
.statistic p:nth-of-type(3) {
    display: flex;
    align-items: center;
    color: grey;
    font-size: 12px;
}
.statistic p:nth-of-type(3) img {
    width: 13px;
    margin-right: 3px;
}

/* Карточка со списком задач и списком работников */
.cards-task {
    grid-template-columns: repeat(2,1fr);
}
.cards-task ul {
    list-style: none;
}
.task, .stats {
    position: relative;
    /* min-width: 370px; */
    background-color: white;
    box-shadow: 3px 3px 10px grey;
}
.task {
    padding: 55px 15px 15px;
}
.task-menu, .stats-menu {
    position: absolute;
    width: calc(100% - 30px);
    /* height: 55px; */
    left: 15px;
    top: -15px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px grey;
    padding-left: 15px;
}
.task-menu {
    height: 55px;
}
/* .task-menu-title {
    display: flex;
    align-items: center;
    color: white;
} */
.image-task-menu {
    background-color: orange;
    display: flex;
    align-items: center;
    color: white;
}

.image-task-menu p {
    margin-right: 15px;
}
.image-task-menu button {
    background: none;
    border: none;
    margin: 0 5px;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    font-size: 14px;
}
.image-task-menu button:hover {
    background-color: rgba(128, 128, 128, 0.25);
}
.image-task-menu img {
    margin-right: 5px;
    height: 15px;
    /* vertical-align: middle; */
}
.task-list-row, .stats-list-row {
    display: grid;
    align-items: center;
    border-bottom: 1px solid grey;
}
.task-list-row {
    grid-template-columns: auto 1fr auto auto;
    padding: 10px 0;
}
.task-list-row:last-child, .stats-list-row:last-child {
    border-bottom: none;
}
.task-list-row:hover, .stats-list-row:hover {
    background-color: rgba(255, 127, 80, 0.25);
    cursor: default;
}
.task-list-row img, input {
    margin: 0 15px;
}
.task-list img {
    width: 20px;
}
.stats {
    padding: 75px 15px 15px;
}
.image-stat-menu {
    background-color: steelblue;
    text-transform: capitalize;
    color: white;
    /* font-size: 14px; */
}
.image-stat-menu p {
    margin: 10px 0;
}
.image-stat-menu p:first-child {
    font-size: 18px;
}
.stats-list-row {
    grid-template-columns: 50px 2fr 1fr 1fr;
    padding: 10px 0;
}
/* .task-list-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: 10px 0;
} */

/* Адаптация */
@media screen and (min-width: 800px) and (max-width: 1000px) {
    .cards-info {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,auto);
        row-gap: 50px;
    }
    .cards-task {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 50px;
    }
    .statistic {
        padding: 100px 15px 15px;
    }
    .table-graph {
        height: 100px;
    }
}
@media screen and (max-width: 799px) {
    .menu {
        display: none;
    }
    main {
        margin-left: 0;
    }
    .button-menu {
        display: inline-block;
    }
}
@media screen and (min-width: 650px) and (max-width: 799px) {
    .cards-info {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,auto);
        row-gap: 50px;
    }
    .cards-task {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 50px;
    }
    .statistic {
        padding: 100px 15px 15px;
    }
    .table-graph {
        height: 100px;
    }
}
@media screen and (min-width: 500px) and (max-width: 649px) {
    .cards-info {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,auto);
        row-gap: 50px;
    }
    .cards-task {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 50px;
    }
    .cards-statistic {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,auto);
        row-gap: 50px;
    }
    .statistic {
        padding: 250px 15px 15px;
    }
    .table-graph {
        height: 250px;
    }
}
@media screen and (max-width: 500px) {
    .cards-info {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,auto);
        row-gap: 50px;
    }
    .cards-task {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 50px;
    }
    .cards-statistic {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,auto);
        row-gap: 50px;
    }
    .statistic {
        padding: 200px 15px 15px;
    }
    .table-graph {
        height: 200px;
    }
}