* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E7E7E7;
}

/* Общие параметры главной страницы */
main {
    height: calc(100vh - 52px);
    margin-left: 200px;
    padding: 20px;
    overflow-y: auto;
}
.hidden-menu {
    display: flex;
    margin-bottom: 50px;
}
.button-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}
.button-menu img {
    height: 20px;
}
main h3 {
    text-transform: capitalize;
}

/* Оформление главного меню */
.menu {
    height: 100vh;
    width: 200px;
    position: fixed;
    box-shadow: 3px 0 10px grey;
    padding: 20px 0;
    background-color: #F5F5F5;
}
nav > ul, .menu > h3 {
    list-style: none;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}
.menu > h3 {
    margin-left: 35px;
    margin-bottom: 20px;
}
nav {
    margin: 20px;
}
nav > ul > li {
    margin: 0;
    padding: 0;
    display: block;
}
nav > ul > li > a {
    display: flex;
    color:grey;
    margin: 0;
    padding: 10px 20px;
    text-decoration: none;
    align-items: center;
}
nav > ul > li > a img {
    margin-right: 5px;
    width: 20px;
}

/* Подсветка пункта меню при наведении */
nav > ul > li a:hover {
    color: black;
    background-color: rgba(220, 20, 60, 0.2);
    transition-duration: 0.8s;
}

/* Активный пункт меню */
nav > ul > li.active a {
    color: white;
    background-color: crimson;
}
nav > ul > li.active a:hover {
    cursor: default;
}

/* Оформление FOOTER */
hr {
    margin-bottom: 0;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-left: 200px;
    padding: 0 20px;
    color: dimgrey;
}
footer > div > ul {
    display: flex;
    list-style: none;
}
footer > div > ul a {
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: dimgrey;
    font-weight: bold;
}
footer > div > ul > li:last-child a {
    margin-right: 0;
}
footer > div > ul a:hover {
    text-decoration: underline;
    color: black;
}
@media screen and (max-width: 1000px) {
    main {
        transition-duration: 0.5s;
    }
}
@media screen and (max-width: 799px) {
    footer {
        margin-left: 0;
    }
}
@media screen and (max-width: 500px) {
    main {
        height: calc(100vh - 60px);
    }
    footer {
        font-size: 14px;
        transition-duration: 0.5s;
        flex-direction: column;
        justify-content: center;
    }
}